<nav class="nav-bar">
<ul>
  <li><a href="#">Gmail</a></li>
  <li><a href="#">Images</a></li>
  <li><a href="#"><img class="icone-menu" src="img/icone-menu.svg"></a></li>
  <li><a href="#" class="btn-connexion">Connexion</a></li>
</ul>
</nav>

<main>
<img class="logo" src="img/logo.png">
<input class="input-text" type="text">
<img class="micro" src="img/micro.png">
  <div class="btn_search">
    <a href="#">Recherche Google</a>
    <a href="#">J'ai de la chance</a>
  </div>
</main>

<footer>
<p>France</p>
<ul>
  <li><a href="#">Publicité</a></li>
  <li><a href="#">Entreprise</a></li>
  <li><a href="#">À propos</a></li>
  <li><a href="#">Info consommateurs</a></li>
  <li><a href="#">Confidentialité</a></li>
  <li><a href="#">Conditions</a></li>
  <li><a href="#">Paramètres</a></li>
</ul>
</footer>